@charset "UTF-8";

body{
    background-color: #EAEAEA;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FF2E63;
    background-color: #08D9D6;
}
h2{
    color: #08D9D6;
    background-color: #252A34;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color: #252A34;
}
pre{
    color: #FF2E63;
}
abbr{
    color: #FF2E63;
}
q{
    color: #08D9D6;
}
blockquote{
    color: #FF2E63;
}
