@charset "UTF-8";

body{
    background-color: #F3D0D7;
    color: #F6F5F2;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}